<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/vue/2.0.0-rc.1/vue.min.js"></script>
  <style media="screen">
    #app,th {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" v-model="newPerson.name">
      </div>
      <div class="form-group">
        <label>Age:</label>
        <input type="text" v-model="newPerson.age">
      </div>
      <div class="form-group">
        <label>Sex:</label>
        <select v-model="newPerson.sex">
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
      <div class="form-group">
        <label></label>
        <button class="btn btn-primary" @click="createPerson">添加</button>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(person,index) in people">
          <td>{{ person.name }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.sex }}</td>
          <td><button class="btn btn-primary" @click="deletePerson(index)">删除</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
  window.onload = function() {
    var vm = new Vue({
      el:'#app',
      data:{
        newPerson:{
          name:'',
          age:0,
          sex:'男'
        },
        people:[
          {
            name:'Jack',
            age:30,
            sex:'男'
        },
          {
            name:'Bill',
            age:26,
            sex:'男'
        },
          {
            name:'Tracy',
            age:22,
            sex:'女'
        }
      ]
    },

    created:function() {
      var personStr = localStorage.getItem('person-list');
      if(personStr) {
        this.people = JSON.parse(personStr);
      }
    },

    methods:{
      createPerson:function() {
        this.people.push(this.newPerson);
        this.newPerson = {name:'',age:0,sex:'男'}
        localStorage.setItem('person-list',JSON.stringify(this.people));
      },
      deletePerson:function(index) {
        this.people.splice(index,1);
      }
    }
    });
    }
  </script>
</body>
</html>
